*{
    padding: 0;
    margin: 0;
    background-color: #361d2e;
    color: #f6e8ea;
}
#navbar{
    margin-top: 5px;
    padding-top:  12px;
    height: 50px;
    background-color: #6B3F69;
}
button{
    background-color: #64113f;
    height: 25px;
    width: 100px;
    border-radius: 5px;
}
#logo{
    color: #C5B0CD;
    font-size: 25px;
    background-color: #6B3F69
;
    font-size: xx-large;
}
a{
    margin-right: 100px; 
    text-decoration: none;
    background-color: #6B3F69;
    color: #f6e8ea;
}
#my_img{
    border-radius: 50%;
}
input{
    margin-left: 250px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
}
#content{
    padding-bottom: 50px;
}
#pic{
    background-color: #361d2e;
    padding-left: 80px;
}
#All-Tasks{
    padding-top: 20px;
}
#Tasks{
    padding-bottom: 30px;
    padding-top: 15px;
}
#Task1{
    background-color: #361d2e;
}
#Task2{
    background-color: #361d2e;
}
#Task3{
    background-color: #361d2e;
}
#Task4{
    background-color: #361d2e;
}
#Task5{
    background-color: #361d2e;
}
#Task6{
    background-color: #361d2e;
}
#Task7{
    background-color: #361d2e;
}
#Task8{
    background-color: #361d2e;
}
#Task9{
    background-color: #361d2e;
}
#Task10{
    background-color: #361d2e;
}
#Task11{
    background-color: #361d2e;
}
#Task12{
    background-color: #361d2e;
}
#FWD_Project{
    padding-bottom: 30px;
    padding-top: 30px;
}
#hp{
    padding-bottom: 30px;
    padding-top: 5px;
}
#Project{
    padding-top: 10px;
    background-color: #361d2e;
}
.Blog{
    padding-bottom: 30px;
    padding-top: 15px;
}
.txt{
    padding-bottom: 7px;
}
#India{
    padding-bottom: 20px;
    background-color: #361d2e;
    font-size: larger;
}