*{
    padding: 0px;
    margin: 10px;
}
body{
    background-color: rgb(0, 0, 0);
}
#head-div{
    padding-bottom: 10px;
}  
.Pic{
    height: 200px;
    width: 200px;
    display: inline-block;
}
.avatar{
    display: grid;
    height: 200px;
    width: 200px;
    place-items: center;
    position: relative;
}
.SSD{
    width: 180px; height: 180px; object-fit: cover; border-radius: 50%;
    border: 6px solid rgba(255,255,255,.15);
    box-shadow: 0 12px 40px rgba(0,0,0,.35);
}
.avatar::before{
    content:"";
    height: 200px;
    width: 200px;
    position:absolute; inset:-8px;
    border-radius: 50%;
    filter: blur(10px) saturate(130%);
    opacity:.65;
    z-index:-1;
}
header{
    background: conic-gradient(from 220deg, rgb(20, 20, 105), black);
    border-radius: 15px;
}
.Intro{
    width: 600px;
    display: inline-block; 
    color: aliceblue;
    place-items: center;
    position: absolute;
}
a{
    text-decoration: none;
    color: plum;
}
main{
    background: conic-gradient(from 220deg, rgb(20, 20, 105), black);
    border-radius: 15px;
}    